* {
    font-style: sans-serif;
    border-collapse: collapse;
    width: 80%;
}

.nav {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;    
}

td {
    border: 1px solid #888;
    padding: 10px;
}

li {
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background-size: cover;
}

td:nth-child(4) {
    text-align: right;
}

th {
    border: 1px solid #888;
    text-align: left;   
}

#totalCost {
    text-align: right;
}