.red {
    background-color: rgb(255, 0, 0); 
}

.green {
    background-color: green; color: 
}

.blue {
    background-color: blue; color: 
}

.purple {
    background-color: purple;
}

td, th {
    color: white
}

